In [8]:
import pandas as pd
import numpy as np
import os 
import pymssql,sqlalchemy
# import pyodbc

In [9]:
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]

[]

In [10]:
# # server='LAPTOP-5RJBJM7N\BESSIE',port='61647',
# conn = pymssql.connect(server="dalian-dna-esg.database.windows.net",
#                        user="esg_admin",password="Daliandna12345678",
#                        database="ESG")
# pd.read_sql('select * from SRC.E_TEST',conn)

In [11]:
# dialect+driver://username:password@host:port/database?driver
#driver=ODBC+Driver+17+for+SQL+Server
conn = sqlalchemy.create_engine(
    "mssql+pyodbc://esg_admin:Daliandna12345678@dalian-dna-esg.database.windows.net/ESG?driver=ODBC+Driver+17+for+SQL+Server"
    )
pd.read_sql('select * from [SRC].[E_TEST]',conn)

   Age  Number
0    1       2
1    3       4

In [12]:
temp_df = pd.DataFrame([['cohen','lee'],['john','shmit']],columns=['second name','first name'])
temp_df

  second name first name
0       cohen        lee
1        john      shmit

In [14]:
temp_df.to_sql("[ESG].[SRC].[E_TEST2]",index=False, con=conn,if_exists='append')
# pd.read_sql('select * from [ESG].[SRC].[E_TEST]',conn)

ProgrammingError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'second name'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'first name'. (207); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")
[SQL: INSERT INTO [[ESG]].[SRC]].[E_TEST2]]] ([second name], [first name]) VALUES (?, ?)]
[parameters: (('cohen', 'lee'), ('john', 'shmit'))]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
# folder_path = r'C:\Users\YP715HX\Documents\Documents\Spark_Demo\Jupyter_Notebook\ESG_Excel_Data'
# file_list = os.listdir(os.path.join(folder_path,'Result_Data'))
# for file in file_list:
#     file_df = pd.read_excel(os.path.join(folder_path,'Result_Data',file))
#     file_df.columns = [col.upper() for col in file_df.columns]
#     table_name =  f'E_{os.path.splitext(file)[0].upper()}'.replace(' ','_')
#     #输出
#     #file_df.to_csv(os.path.join(folder_path,'For_DB_Data',f'{table_name}.csv'), index=False)
#     #file_df.to_sql(table_name,conn,if_exists='replace')
#     #break